{% extends 'base.html.twig' %}

{% block title %}Mushihimesama{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/pink.css') }}">
{% endblock %}

{% block body %}
    <p>
        wings flutter<br>
        on a moist  petal<br>
        rose nectar<br>
    </p>
    <img src="{{ asset('assets/img/screen.jpg') }}" alt="true last boss img" class="true-last-img">

{% endblock %}